# YAML 파일 (GitHub Actions 워크플로우 제외)
# *.yml
!.github/workflows/*.yml

# 환경 설정 파일
*.env

# 서버 실행 & 중지 pid
*.pid

# Gradle
.gradle
build/

# Frontend
/frontend/node_modules/
/frontend/dist/

# Backend
/backend/target/
*.class

# NLP Server
/nlp-server/**/__pycache__/
/nlp-server/.env
/nlp-server/.pytest_cache/
/nlp-server/.coverage
/nlp-server/htmlcov/
/nlp-server/dist/
/nlp-server/build/
/nlp-server/*.egg-info/

# 공통
.DS_Store
*.log
.idea/
.vscode/
*.tmp
*.swp
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
