*.yml

# Gradle
.gradle
build/

# Frontend
/frontend/node_modules/
/frontend/dist/

# Backend
/backend/target/
*.class


/ai-server/__pycache__/
/ai-server/env/
/ai-server/venv/

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# 공통
.DS_Store
*.log
.idea/
.vscode/
*.tmp
*.swp
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
